#wrapper {
  background-color: white;

}

#header {
  text-align: center;
color: white;
  background-color: red;
  height: 100px;
  padding:16px;
}

#content {
color: white;
  background-color:green;
  height:500px;
  padding:16px;
}

#footer {
color: white;
  background-color: blue;
  height:100px;
  padding:16px;
}
